.record-preview-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    border-radius: 4px;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);
    margin: 5px;
    padding: 10px;
}

.record-info {
    padding-left: 5%;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}